.card-service{
    /* height:500px;
    margin:50px; */
    box-shadow: 5px 5px 20px black;
    overflow:hidden;
}
.intro-service{
    height:100px;
    width:100%;
    padding-left:10px;
    box-sizing:border-box;
    position: relative;
    background-color: black;
    bottom:0px;
    transition:.8s;
    color:white;
}

.service{
    visibility:hidden;
    opacity:0;
}
.card-service:hover{
    cursor:pointer;
}
.card-service:hover .intro-service{
    /* height:220px; */
    bottom:00px;
    background:rgba(0, 0, 0, 0.356);
}
.card-service:hover .service{
    opacity:1;
    visibility:visible;
}
/* .card-service:hover img{
    transform: scal(1.1) rotate(-3deg);
} */